.taskGrid{
    background-color: rgb(108, 126, 124);
    width: 450px;
    margin: 30px;
    height: 250px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 25px;
    box-shadow: 6px 6px 5px 5px #c5c2c2;
}

.body{
    background-color: #FFEBCD;
}

.button{
    display: block;
    margin-top: 10px;
    border-radius: 100px;
    padding: 10px;
    
}

h3{
    margin: 15px;
    margin-bottom: 20px;
    text-align: center;
}

i{
    padding: 10px;
}